@inject DVDShops.Services.Users.IUserService userService

@{
    ViewData["Title"] = "Users Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Header -->
@section tableheader {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<!-- Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Users</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="dashboard" asp-action="index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.table user -->
            <div class="col-12 col-md-6 mx-auto">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-header d-flex justify-content-between align-item-center">
                        <div class="card-title">User List</div>
                        <div class="ml-auto">
                            <a asp-area="admin" asp-controller="user" asp-action="addUser">New User</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-body table-responsive">
                        <!-- id is for table script -->
                        <table id="userList" class="table table-bordered table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>Email</th>
                                    <th>Profile Name</th>
                                    <th>Type</th>
                                    <th>Activated</th>
                                    <th>Delete Status</th>
                                    <th style="width:auto">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in userService.GetAll().Where(u => u.IsAdmin == false))
                                {
                                    <tr>
                                        <td>@user.UsersEmail</td>
                                        <td>@user.UsersProfileName</td>
                                        <td>@(user.IsCustomer ? "Customer" : "Member")</td>
                                        @if (user.UsersActivated)
                                        {
                                            <td class="text-success">Yes</td>
                                        }
                                        else
                                        {
                                            <td class="text-danger">No</td>
                                        }
                                        @if (user.DeleteStatus)
                                        {
                                            <td class="text-danger">Yes</td>
                                        }
                                        else
                                        {
                                            <td class="text-info">No</td>
                                        }
                                        <td class="text-center">
                                            <a class="btn btn-info" asp-area="admin" asp-controller="user"
                                               asp-action="detailUser" asp-route-userId="@user.UsersId">
                                                Detail
                                            </a>
                                            <a class="btn btn-warning"
                                               asp-area="admin" asp-controller="user"
                                               asp-action="deleteUser" asp-route-userId="@user.UsersId"
                                               onclick="return confirm('Are You Sure?')">
                                                @(user.DeleteStatus ? "Recover" : "Delete")
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <!-- /.card-footer -->
                            <tfoot>
                                <tr class="text-center">
                                    <th>Email</th>
                                    <th>Profile Name</th>
                                    <th>Type</th>
                                    <th>Activated</th>
                                    <th>Delete Status</th>
                                    <th style="width:auto">Option</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.table admin -->
            <div class="col-12 col-md-6 mx-auto">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-header d-flex justify-content-between align-item-center">
                        <div class="card-title">Administrator List</div>
                        <div class="ml-auto">
                            <a asp-area="admin" asp-controller="user" asp-action="addUser" class="text-info">New Administrator</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-body table-responsive">
                        <!-- id is for table script -->
                        <table id="adminList" class="table table-bordered table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>Email</th>
                                    <th>Profile Name</th>
                                    <th>Delete Status</th>
                                    <th style="width:auto">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in userService.GetAll().Where(u => u.IsAdmin == true))
                                {
                                    <tr>
                                        <td>@user.UsersEmail</td>
                                        <td>@user.UsersProfileName</td>
                                        <td>@(user.DeleteStatus ? "Yes" : "No")</td>
                                        <td class="text-center">
                                            <a class="btn btn-info" asp-area="admin" asp-controller="user"
                                               asp-action="detailUser" asp-route-userId="@user.UsersId">
                                                Detail
                                            </a>
                                            <a class="btn btn-warning"
                                               asp-area="admin" asp-controller="user"
                                               asp-action="deleteUser" asp-route-userId="@user.UsersId"
                                               onclick="return confirm('Are You Sure?')">
                                                @(user.DeleteStatus ? "Recover" : "Delete")
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <!-- /.card-footer -->
                            <tfoot>
                                <tr class="text-center">
                                    <th>Email</th>
                                    <th>Profile Name</th>
                                    <th>Delete Status</th>
                                    <th style="width:auto">Option</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
@section tablefooter {
    <!-- DataTables  & Plugins -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $('#userList').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(function () {
            $('#adminList').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

}