@model DVDShops.Models.Artist;
@inject DVDShops.Services.Genres.IGenreService genreService
@inject DVDShops.Services.ArtistsGenres.IArtistGenreService agService

@{
    ViewData["Title"] = "Artist Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Header -->
@section tableheader {
    <link rel="stylesheet" href="~/admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
}

<!-- Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Artist Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="artist" asp-action="view">Back</a>
                    </li>
                    <li class="breadcrumb-item active">Artist Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="col-11 col-xl-8 mx-auto">
            <div class="card card-primary">
                <!-- /.card-header -->
                <form method="post" asp-controller="artist" asp-action="editArtist" asp-area="admin" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row" >
                            <input type="hidden" asp-for="ArtistPhoto" />
                            <div class="col-sm-6 col-12">
                                <label>Change Photo</label>
                                <div class="form-group">
                                    <input type="file" name="artistPhoto" id="file_input" accept="image/*" onchange="ShowImageAdd(event)" placeholder="Choose an Image" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <label>Current Photo</label>
                                <div class="text-center">
                                    <img alt="user-photo" id="user_image" width="100px" height="100px" src="~/images/artist/@Model.ArtistPhoto" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <input type="hidden" asp-for="ArtistId" />
                                <input type="hidden" name="oldName" value="@Model.ArtistName" />
                                <div class="form-group">
                                    <label>Artist name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name..." asp-for="ArtistName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Biography</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter Bio..." asp-for="ArtistBiography"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- checkbox -->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Music Genres</label>
                                    <select class="duallistbox" multiple="multiple" name="genres">
                                        @foreach (var genre in genreService.GetAll())
                                        {
                                            var isChecked = agService.GetByArtistId(Model.ArtistId).Any(sg => sg.GenreId == genre.GenreId);
                                            if (isChecked)
                                            {
                                                <option value="@genre.GenreId" selected>@genre.GenreName</option>

                                            }
                                            else
                                            {
                                                <option value="@genre.GenreId">@genre.GenreName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-end">
                        <a class="btn btn-warning" asp-area="admin" asp-controller="artist" asp-action="view" onclick="return confirm('Are you Sure?')">CANCLE</a> &nbsp;
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </div>
                </form>
                <!-- /.card-body -->

            </div>
        </div>
    </div>
</section>

<!-- Footer -->
@section tablefooter {
    <!-- Select2 -->
    <script src="~/admin/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- Page specific script -->
    <script>
        function ShowImageAdd(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const userImage = document.getElementById("user_image");
                    userImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
        $(function () {
            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()
        })
    </script>
}