@model DVDShops.Models.Artist;
@inject DVDShops.Services.Artists.IArtistService artistService
@inject DVDShops.Services.Genres.IGenreService genreService
@inject DVDShops.Services.ArtistsGenres.IArtistGenreService artistGenreService

@{
    ViewData["Title"] = "Artist Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Header -->
@section tableheader {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
}

<!-- Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Artist</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="dashboard" asp-action="index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Artist</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.table -->
            <div class="col-11 col-xl-8 mx-auto">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-header">
                        <h3 class="card-title">Artist List</h3>
                    </div>

                    <div class="card-body table-responsive">
                        <table id="artistsList" class="table table-bordered table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>Artist Name</th>
                                    <th>Artist Biography</th>
                                    <th>Artist Photo</th>
                                    <th>Genres</th>
                                    <th>Songs</th>
                                    <th>Albums</th>
                                    <th style="width: auto">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var artist in artistService.GetAllArtists())
                                {
                                    <tr>
                                        <td>@artist.ArtistName</td>
                                        <td>@artist.ArtistBiography</td>
                                        <td class="text-center">
                                            <img alt="No Photo" width="50px" height="50px" src="~/images/artist/@artist.ArtistPhoto" />
                                        </td>
                                        <td>
                                            @string.Join(", ", artistGenreService.GetByArtistId(artist.ArtistId).Select(genre => genre.Genre.GenreName))
                                        </td>
                                        <td>
                                            @if (artist.Songs.Count > 0)
                                            {
                                                @string.Join(", ", artist.Songs.Select(song => song.SongName))
                                            }
                                            else
                                            {
                                                <a class="text-info" asp-area="admin" asp-controller="song"
                                                   asp-action="addSong">
                                                    Add
                                                </a>
                                            }
                                        </td>
                                        <td>
                                            @if (artist.Albums.Count > 0)
                                            {
                                                @string.Join(", ", artist.Albums.Select(album => album.AlbumName))
                                            }
                                            else
                                            {
                                                <a class="text-info" asp-area="admin" asp-controller="album"
                                                   asp-action="addAlbum">
                                                    Add
                                                </a>
                                            }
                                        </td>

                                        <td class="text-center">
                                            <a type="button"
                                               class="btn btn-info"
                                               asp-area="admin" asp-controller="artist"
                                               asp-action="editArtist" asp-route-artistId="@artist.ArtistId">
                                                Edit
                                            </a> &nbsp;
                                            <a class="btn btn-warning"
                                               asp-area="admin" asp-controller="artist"
                                               asp-action="DeleteArtist" asp-route-artistId="@artist.ArtistId"
                                               onclick="return confirm('Are You Sure To Delete This Record')">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="text-center">
                                    <th>Artist Name</th>
                                    <th>Artist Biography</th>
                                    <th>Artist Photo</th>
                                    <th>Genres</th>
                                    <th>Songs</th>
                                    <th>Albums</th>
                                    <th style="width: auto">Option</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <!-- /.form -->
            <div class="col-11 col-xl-8 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">New Artist</h3>
                    </div>
                    <!-- /.card-header -->
                    <form method="post" asp-controller="artist" asp-action="createArtist" asp-area="admin" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <label>Artist Photo</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="file" name="artistPhoto" id="file_input" accept="image/*" onchange="ShowImageAdd(event)" placeholder="Choose an Image" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-center img-thumbnail">
                                        <img alt="user-photo" id="user_image" width="100px" height="100px" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Artist name</label>
                                        <input type="text" class="form-control" placeholder="Enter Name..." asp-for="ArtistName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Biography</label>
                                        <textarea class="form-control" rows="3" placeholder="Enter Bio..." asp-for="ArtistBiography"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- checkbox -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Music Genres</label>
                                        <select class="duallistbox" multiple="multiple" name="genres">
                                            @foreach (var genre in genreService.GetAll())
                                            {
                                                <option value="@genre.GenreId">@genre.GenreName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <!-- /.col -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Footer -->
@section tablefooter {
    <!-- DataTables  & Plugins -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/admin/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- Page specific script -->
    <script>
        function ShowImageAdd(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const userImage = document.getElementById("user_image");
                    userImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
        $(function () {
            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()
        })

        $(function () {
            $('#artistsList').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });


    </script>
}