@model DVDShops.Models.Game;
@inject DVDShops.Services.Producers.IProducerService producerService
@inject DVDShops.Services.Genres.IGenreService genreService
@inject DVDShops.Services.GamesGenres.IGameGenreService ggService

@{
    ViewData["Title"] = "Song Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@section tableheader {
    <link rel="stylesheet" href="~/admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
}

<!-- Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 id="title">Edit Game Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="game" asp-action="view">Back</a>
                    </li>
                    <li class="breadcrumb-item active">Games</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.add-album -->
<section class="content-header">
    <div class="container-fluid">
        <div class="col-lg-10 col-12 mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Game Profile</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" asp-area="admin" asp-controller="game" asp-action="editGame">
                    <div class="card-body">
                        <input type="hidden" asp-for="GameId" />
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="row form-group">
                            <label for="name">Game Title</label>
                            <input type="text" class="form-control" asp-for="GameTitle" placeholder="Enter Title..." required>
                        </div>
                        <div class="row form-group">
                            <label for="name">Introduction</label>
                            <input type="text" class="form-control" asp-for="GameDescription" placeholder="Enter Description..." required>
                        </div>
                        <!-- Add Genres -->
                        <div class="row mb-0">
                            <div class="col-sm-12">
                                <div class="form-group mb-0">
                                    <label>Game Genres</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-0">
                            <div class="col-12 col-xl-10 mx-auto">
                                <div class="form-group">
                                    <select class="duallistbox" multiple="multiple" name="genres">
                                        @foreach (var genre in genreService.GetAll())
                                        {
                                            var isSelected = genre.GamesGenres.Where(gg => gg.GameId == Model.GameId).Any(sg => sg.GenreId == genre.GenreId);
                                            if (isSelected)
                                            {
                                                <option value="@genre.GenreId" selected>@genre.GenreName</option>
                                            }
                                            else
                                            {
                                                <option value="@genre.GenreId">@genre.GenreName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-4">
                                <div class="form-group">
                                    <label>Producer</label>
                                    <select class="form-control select2bs4" style="width: 100%;" asp-for="ProducerId">
                                        <option selected="selected" value="-1">Select a Producer</option>
                                        @foreach (var producer in producerService.GetAll())
                                        {
                                            <option value="@producer.ProducerId">@producer.ProducerName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Current Trailer link</label>
                                    <div class="d-flex align-items-center">
                                        <input type="text" asp-for="GameTrailer" class="form-control" disabled />
                                        <input type="hidden" asp-for="GameTrailer" class="form-control" />
                                        <button class="btn btn-info" type="button" id="toggle_trailer" onclick="toggleHidden(this)"><i class="fas fa-retweet"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-4">
                                <div class="form-group invisible" id="newTrailer">
                                    <label>New Trailer Link</label>
                                    <div class="form-group">
                                        <input type="text" name="newTrailer" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-4">
                                <div class="form-group ">
                                    <label>Current Link</label>
                                    <div class="d-flex align-items-center">
                                        <input type="text" asp-for="DownloadLink" class="form-control" disabled />
                                        <input type="hidden" asp-for="DownloadLink" class="form-control" />
                                        <button class="btn btn-info" type="button" id="toggle_link" onclick="toggleHidden(this)"><i class="fas fa-retweet"></i></button>
                                    </div>
                                </div>
                            </div>
                                                        
                            <div class="col-md-6 col-sm-12 col-4">
                                <div class="form-group invisible" id="newLink">
                                    <label>New Download Link</label>
                                    <div class="form-group">
                                        <input type="text" name="newLink" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- /.card-body -->

                    <div class="card-footer d-flex justify-content-end">
                        <a class="btn btn-warning" asp-area="admin" asp-controller="game" asp-action="view" onclick="return confirm('Are you Sure?')">CANCLE</a> &nbsp;
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section tablefooter {
    <!-- Select2 -->
    <script src="~/admin/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/admin/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <script>
        function toggleHidden(button) {
            var buttonId = button.id;
            if (buttonId == "toggle_trailer") {
                $('#newTrailer').toggleClass('invisible');
            } else {
                $('#newLink').toggleClass('invisible');
            }
        }

        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()
        })
    </script>
}
