@model DVDShops.Models.Order
@inject IConfiguration configuration

@{
    Layout = "~/views/shared/layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="index" asp-action="index">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form action="@configuration["PayPal:PostUrl"]" method="post">
        <div class="row px-xl-5">
            <div class="col-lg-6">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <input type="hidden" asp-for="UsersId" value="@ViewBag.User.UsersId" />
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Full Name</label>
                            <input class="form-control" type="text" name="cName" value="@ViewBag.User.UsersProfileName" required>
                        </div>
                        <div class="col-12 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="cEmail" value="@ViewBag.User.UsersEmail" required>
                        </div>
                        <div class="col-12 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="number" name="cPhone"
                                   style="-webkit-appearance: none; -moz-appearance: textfield; margin: 0;"
                                   value="@ViewBag.User.UsersPhone" required>
                        </div>
                        <div class="col-12 form-group">
                            <label>Shipping Address</label>
                            <input class="form-control" type="text" value="@ViewBag.User.UsersAddress" asp-for="ShipAddress" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        @{
                            var index = 1;
                        }
                        @foreach (var item in ViewBag.Cart)
                        {
                            <input type="hidden" name="item_number_@index" value="@item.ProductId" />
                            <input type="hidden" name="item_name_@index" value="@item.Product.ProductTitle" />
                            <input type="hidden" name="amount_@index" value="@item.Product.ProductPrice" />
                            <input type="hidden" name="quantity_@index" value="@item.Quantity" />

                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-between">
                                    <p>
                                        <img src="~/images/album/@item.Product.Album.AlbumCover" alt="" style="width: 75px;">
                                    </p>
                                    <span class="align-middle">@item.Product.ProductTitle X @item.Quantity</span>
                                </div>

                                <p>$ @(item.Price * item.Quantity)</p>
                            </div>

                            index++;
                        }

                        <input type="hidden" name="upload" value="1" />
                        <input type="hidden" name="return" value="@configuration["PayPal:ReturnUrl"]" />
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="business" value="@configuration["PayPal:Business"]" />

                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">$ @ViewBag.Total</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium text-success">Free Shipping</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <input type="number" asp-for="TotalAmount" value="@ViewBag.Total" style="display: none;" />
                            <h5 class="font-weight-bold">$ @ViewBag.Total</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="paypal" asp-for="Note" value="paypal" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
@*                         <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="cash" asp-for="Note" value="cash">
                                <label class="custom-control-label" for="cash">Cash</label>
                            </div>
                        </div> *@
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->
