@inject DVDShops.Services.Movies.IMovieService movieService

@{
    ViewData["Title"] = "Movie Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Header -->
@section tableheader {
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Movies</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="dashboard" asp-action="index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Movies</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.table -->
            <div class="col-12 col-lg-11 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-item-center">
                        <div class="card-title">Movie List</div>
                        <div class="ml-auto">
                            <a asp-area="admin" asp-controller="movie" asp-action="addMovie" class="text-info">New Movie</a>
                        </div>
                    </div>

                    <div class="card-body table-responsive">
                        <table id="album_list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Movie Title</th>
                                    <th>Description</th>
                                    <th>Trailer</th>
                                    <th>Producer</th>
                                    <th>Genres</th>
                                    <th>Link</th>
                                    <th style="width: auto">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in movieService.GetAll())
                                {
                                    <tr>
                                        <td>@item.MovieTitle</td>
                                        <td>@item.MovieDescription</td>
                                        <td class="text-justify"><a href="@item.MovieTrailer">@item.MovieTrailer</a></td>
                                        <td>@item.Producer.ProducerName</td>
                                        <td>
                                            @string.Join(", ", item.MoviesGenres.Select(genre => genre.Genre.GenreName))
                                        </td>
                                        @if (item.DownloadLink == null)
                                        {
                                            <td class="text-center">No link</td>
                                        }
                                        else
                                        {
                                            <td class="text-justify">
                                                <a href="@item.DownloadLink">@item.DownloadLink</a>
                                            </td>
                                        }
                                        <td class="text-center">
                                            <a type="button" class="btn btn-info"
                                               asp-area="admin" asp-controller="movie"
                                               asp-action="editMovie" asp-route-movieId="@item.MovieId">
                                                Edit
                                            </a>
                                            <a type="button" class="btn btn-warning"
                                               asp-area="admin" asp-controller="movie"
                                               onclick="return confirm('Are you Sure?')"
                                               asp-action="deleteMovie" asp-route-movieId="@item.MovieId">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Movie Title</th>
                                    <th>Description</th>
                                    <th>Trailer</th>
                                    <th>Producer</th>
                                    <th>Genres</th>
                                    <th>Link</th>
                                    <th style="width: auto">Option</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
@section tablefooter {
    <!-- DataTables  & Plugins -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $('#album_list').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}