@model DVDShops.Models.Album;
@inject DVDShops.Services.Producers.IProducerService producerService
@inject DVDShops.Services.Artists.IArtistService artistService

@{
    ViewData["Title"] = "Album Manage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@section tableheader {
    <link rel="stylesheet" href="~/admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}

<!-- Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 id="title">Edit Album</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="admin" asp-controller="album" asp-action="view">Back</a>
                    </li>
                    <li class="breadcrumb-item active">Albums</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.add-album -->
<section class="content-header" id="add_album">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Album Profile</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" asp-area="admin" asp-controller="album" asp-action="editAlbum">
                        <div class="card-body">
                            <div class="row form-group">
                                <input type="hidden" asp-for="AlbumId" />
                                <input type="hidden" asp-for="CategoryId" />
                                <label for="name">Album Name</label>
                                <input type="text" class="form-control" asp-for="AlbumName" placeholder="Enter Name..." required>
                            </div>
                            <div class="row form-group">
                                <label for="name">Introduction</label>
                                <input type="text" class="form-control" asp-for="AlbumIntroduction" placeholder="Enter Intro..." required>
                            </div>

                            <div class="row">
                                <!-- /.artist col -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Producer</label>
                                        <select class="form-control select2bs4" style="width: 100%;" asp-for="ProducerId">
                                            <option selected="selected" value="-1">Select a Producer</option>
                                            @foreach (var producer in producerService.GetAll())
                                            {
                                                <option value="@producer.ProducerId">@producer.ProducerName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <!-- /.artist col -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Artist</label>
                                        <select class="form-control select2bs4" style="width: 100%;" asp-for="ArtistId">
                                            <option selected="selected" value="-1">Select an Artist</option>
                                            @foreach (var artist in artistService.GetAllArtists())
                                            {
                                                <option value="@artist.ArtistId">@artist.ArtistName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Issue Date</label>
                                        <input type="date" class="form-control" name="issueDate" id="date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer d-flex justify-content-end">
                            <a class="btn btn-warning" asp-area="admin" asp-controller="album" asp-action="view" onclick="return confirm('Are you Sure?')">CANCLE</a> &nbsp;
                            <button type="submit" class="btn btn-info">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section tablefooter {
    <!-- Select2 -->
    <script src="~/admin/plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })

        $(document).ready(function () {
            var date = '@TempData["issue"]';
            if (date) {
                var formattedDate = new Date(date).toISOString().split('T')[0];
                $('#date').val(date);
            }
        });
    </script>

}
